@import "https://use.fontawesome.com/releases/v5.15.4/css/all.css";

body {
    background-color: cornflowerblue;
}

.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    text-align: center;

    font-size: 18px;
}

.fab.fa-html5,
.fab.fa-css3-alt,
.fab.fa-js-square,
.fab.fa-react {
    color: chocolate;
    font-size: 2rem;
}